body { 
	background-color: #003366;
	background: url('Images/primevertical.png');
	color: #003300;
	font-family: Arial, Helvetica, sans-serif;
}

h2 { background-color: #ffffcc;
color: #003366;
}

h3{ background-color: #ffffcc;
color: #006600;
}

dd { font-style:italic;
font-size: .90em;
line-height: 200%;
}

#nav { 
	font-size: 0,70em;
	text-align: center;
}

#footer { 
	font-size: .60em;
	font-style: italic;
	text-align: center;
}

img {
	border: none;
}

P.blocktext {
    text-align: center;
}

#wrapper {
	width: auto;
	margin: auto;
	background-color: #ffffcc;
	color: #003300;
}

#leftcolumn {
	border: solid;     /*border*/

}

#rightcolumn {
	border: solid;     /*border*/
}

#navigation {
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}

#section {
	margin-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.header{
	margin-left: 200px;
	padding-right: 20px;
	padding-bottom: 20px;

}

#blockalign{
	border: solid;     /*border*/
	text-align: center;

}
